@import "~@fontsource/poppins/index.css";
@import "~@fontsource/poppins/400.css";
@import "~@fontsource/poppins/500.css";
@import "~@fontsource/poppins/600.css";
@import "~@fontsource/poppins/700.css";
@import "~@fontsource/poppins/800.css";
@import "~@fontsource/poppins/900.css";
@import './variabili.scss';

// Reset
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  max-width: 100%;
  display: block;
}

ul, li {
  list-style: none;
}

ul{
  display: contents;
}

a{
  text-decoration: none;
  color: currentColor;
}

// stilit comuni
.container-fluid{
  width: 100vw;
}

.container{
  width: 1024px;
  margin: 0 auto;
}

.section-title{
  text-transform: uppercase;
  color: $smaltBlue;
  margin-bottom: 20px;
  font-weight: 700;
}

.title-dark{
  margin-bottom: 20px;
  font-weight: 900;

  span{
    background-color: rgba($fountainBlue, 0.3);
    padding: 5px 10px;
    border-radius: 3px;
  }
}

.title-light{
  margin-bottom: 20px;
  color: $shark;
  font-weight: 900;

  span{
    color: $surfieGreen;
    background-color: rgba($fountainBlue, 0.3);
    padding: 5px 10px;
    border-radius: 3px;
  }
}

.btn-light{
  background-color: transparent;
  border: 1px solid $surfieGreen;
  color: $surfieGreen;
  padding: 8px 20px;
  text-transform: uppercase;
  border-radius: 3px;
  font-weight: 600;
  cursor: pointer;
  
  &:hover{
    background-color: $fountainBlue;
    color: white;
    border:1px solid $fountainBlue;
  }
}