@import "~@fontsource/league-spartan/index.css";
@import '../../assets/scss/variabili';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  max-width: 100%;
  display: block;
}

ul, li {
  list-style: none;
}

ul{
  display: contents;
}

a{
  text-decoration: none;
  color: currentColor;
}

.container-fluid{
  width: 100vw;
}

.container{
  width: 1024px;
  margin: 0 auto;
}

.section-title{
  text-transform: uppercase;
  color: $smaltBlue;
  margin-bottom: 20px;
  font-weight: 700;
}

.btn-light{
  background-color: transparent;
  border: 1px solid $surfieGreen;
  color: $surfieGreen;
  padding: 8px 20px;
  text-transform: uppercase;
  border-radius: 3px;
  font-weight: 600;
  cursor: pointer;
  
  &:hover{
    background-color: $fountainBlue;
    color: white;
    border:1px solid $fountainBlue;
  }
}